<!--header.html-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	  
	  <body>
	      <header class="header" th:fragment="header">
	          <div class="header-container">
	              <div class="header-left">
	                  <h1 class="logo">베베접종수첩</h1>
	                  <nav class="nav">
	                      <a href="#" class="nav-item">즐겨찾기</a>
	                      <a href="#" class="nav-item">근처소아과</a>
	                      <a href="" class="nav-item">진료중인소아과</a>
	                  </nav>
	              </div>
	              <div class="header-right">
	                  <a href="#" class="auth-link" onclick="openLoginModal(); return false;">로그인</a>
					  <a href="#" class="auth-link" onclick="openInsertModal(); return false;">회원가입</a>	              
	                  <a href="/myPage/info" class="auth-link">마이페이지</a>
				  </div>
	          </div>
	      </header>
	  </body>
	  </html>
