<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.ChildrenMapper">

<resultMap id="childrenResultMap" type="com.itwillbs.domain.ChildrenVO">
    <id property="child_id" column="child_id"/>
    <result property="user_id" column="user_id"/>
    <result property="name" column="name"/>
    <result property="birth_date" column="birth_date" javaType="java.time.LocalDate"/>
    <result property="gender" column="gender"/>
    <result property="created_at" column="created_at"/>
    <result property="updated_at" column="updated_at"/>
</resultMap>

<!--자녀 정보 메인에 가져감-->
<select id="ChildInformation" parameterType="string" resultMap="childrenResultMap">
    SELECT *
    FROM children
    WHERE user_id = #{userId}
</select>

  
</mapper>